* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  gap: 50px;
  align-items: center;
}

.logo {
  text-align: center;
  color: #333;
}

.logo img {
  width: 150px;
  height: auto;
}

.logo h1 {
  font-size: 1.5em;
  color: #333;
}

.login-form {
  background-color: #1e2a4b;
  padding: 30px;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.login-form h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.login-form label {
  color: #bbb;
  font-size: 0.9em;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border: none;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.password-container {
  position: relative;
}

.password-container .toggle-password {
  position: absolute;
  right: 10px;
  top: 13px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.login-btn,
.signup-btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 5px 0;
  font-weight: bold;
  text-align: center;
}

.login-btn {
  background-color: #20c997;
  color: #fff;
}

.signup-btn {
  background-color: #20c997;
  color: #fff;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #17a2b8;
}

/* Styling untuk semua label */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styling untuk semua input */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
